.social__link {
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #e33861;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	width: 46px;
	height: 46px;
	margin-bottom: 15px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.social__link_fb, .social__link_od, .social__link_ytb, 
.social__link_instgrm {
	margin-left: 19px;
}
.social__link_vk:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f189';
	font-family: 'FontAwesome';
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-left: -13px;
	margin-top: -11px;
}
.social__link_vk:hover {
	background-color: #4d7198;
	border: 2px solid #fff;
}
.social__link_fb:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f09a';
	font-family: 'FontAwesome';
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-left: -7px;
	margin-top: -11px;
}
.social__link_fb:hover {
	background-color: #3b5998;
	border: 2px solid #fff;
}
.social__link_od:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f263';
	font-family: 'FontAwesome';
	font-size: 22px;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -11px;
}
.social__link_od:hover {
	background-color: #f2720c;
	border: 2px solid #fff;
}
.social__link_ytb:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f167';
	font-family: 'FontAwesome';
	font-size: 24px;
	top: 50%;
	left: 50%;
	margin-left: -11px;
	margin-top: -12px;
}
.social__link_ytb:hover {
	background-color: #cc181e;
	border: 2px solid #fff;
}
.social__link_instgrm:after {
	color: #fff;
	font-weight: 100;
	position: absolute;
	content: '\f16d';
	font-family: 'FontAwesome';
	font-size: 24px;
	top: 50%;
	left: 50%;
	margin-left: -11px;
	margin-top: -12px;
}
.social__link_instgrm:hover {
	background-color: #3f729b;
	border: 2px solid #fff;
}