.mountain {
	height: 418px;
	background: url(../img/rock.jpg) center bottom;
	background-repeat: no-repeat;
	position: relative;
} 
#moun_man {
	position: absolute;
	background: url(../img/man.png) 0 0;
	background-repeat: no-repeat;
	width: 183px;
	height: 130px;
	bottom: 62px;
	right: 0px;
	z-index: 3;
}
.mountain__main-title {
	font-size: 34px;
	font-family: 'Intro Regular Alt';
	font-weight: 100;
	color: #616161;
	text-align: center;
	margin-bottom: 15px;
	padding-top: 14px;
}
.mountain-banner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.mountain-banner__flag-1, .mountain-banner__flag-2, 
.mountain-banner__flag-3 {
	position: relative;
	width: 33.3%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.mountain-banner__flag-1:after {
	content: '';
	position: absolute;
	z-index: 30;
	height: 180px;
	width: 4px;
	background: #d0d0d0;
	top: 149px;
	left: 219px;
}
.mountain-banner__flag-2:after {
	content: '';
	position: absolute;
	z-index: 30;
	height: 180px;
	width: 4px;
	background: #d0d0d0;
	top: 130px;
	left: 274px;
}
.mountain-banner__flag-3:after {
	content: '';
	position: absolute;
	z-index: 30;
	height: 180px;
	width: 4px;
	background: #d0d0d0;
	top: 110px;
	left: 315px;
}
.mountain-banner__img-1 {
	position: absolute;
	left: -15px;
	top: 48px;
}
.mountain-banner__img-2 {
	position: absolute;
	left: 40px;
	top: 28px;
}
.mountain-banner__img-3 {
	position: absolute;
	right: 0;
	top: 4px;
}
.mountain-banner__link {
	font-size: 18px;
	color: #fff;
	position: absolute;
	left: -15px;
	top: 100px;
	width: 245px;
	text-align: center;
	-webkit-transform: skewY(-10deg);
	    -ms-transform: skewY(-10deg);
	        transform: skewY(-10deg);
}
.mountain-banner__link:hover {
	text-decoration: underline;
}
.mountain-banner__ttl {
	position: absolute;
	-webkit-transform: skewY(-10deg);
	    -ms-transform: skewY(-10deg);
	        transform: skewY(-10deg);
	font-size: 9px;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	width: 54px;
	top: 46px;
	left: -15px;
	margin: 0;
	padding: 6px 0 0 0;
}
.mountain-banner__ttl_big-number {
	font-size: 30px;
	color: #fff;
}