/*file connection*/
@import url(../blocks/header/level1/header.css);
@import url(../blocks/header/level2/header.css);
@import url(../blocks/slider/level1/slider.css);
@import url(../blocks/mountain/level1/mountain.css);
@import url(../blocks/mountain/level2/mountain.css);
@import url(../blocks/form/level1/form.css);
@import url(../blocks/form/level2/form.css);
@import url(../blocks/button/level1/button.css);
@import url(../blocks/walk-man/level1/walk-man.css);
@import url(../blocks/footer/level1/footer.css);
@import url(../blocks/social/level1/social.css);
/*generals*/
@font-face {
font-family: 'Intro Regular';
src: url('../fonts/Intro-Regular.eot');
src: url('../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Intro-Regular.woff') format('woff'),
url('../fonts/Intro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
	font-family: 'Intro Regular Alt';
	src: url('../fonts/Intro-Regular-Alt.eot');
	src: url('../fonts/Intro-Regular-Alt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Intro-Regular-Alt.woff') format('woff'),
	url('../fonts/Intro-Regular-Alt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Intro Regular';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
}
a {
	text-decoration: none;
}
input:active, input:focus, button:active, button:focus {
	outline: none;
}
input[type=text] {
	border: 0;
	font-size: 16px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}
input[type=text]:focus {
	background: #fff;
	color: #333;
}
button::-moz-focus-inner {
  border: 0;
}
.center {
	width: 980px;
	margin: 0 auto;
}
.scrollup {
	background: rgba(226, 55, 96, 0.9);
	position: fixed;
	bottom: 250px;
	right: 50px;
	height: 50px;
	width: 50px;
}
.scrollup:hover {
	cursor: pointer;
}
.fa-angle-double-up {
	color: #fff;
	font-size: 22px!important;
	padding-top: 14px;
	padding-left: 18px;
}
.checked {
	color: #21d0e2!important;
	background-color: #fff!important;
	border-color: #fff!important;
}
.checked:hover {
	background-color: #fff!important;
	color: #626161!important;
}