.footer {
	padding-top: 45px;
	padding-bottom: 45px;
	background: -webkit-gradient(linear, left top, right top, from(#e23760), to(#f85980));
	background: -webkit-linear-gradient(left, #e23760 0%, #f85980 100%);
	background: -o-linear-gradient(left, #e23760 0%, #f85980 100%);
	background: linear-gradient(to right, #e23760 0%, #f85980 100%);
}
.footer-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.footer-col__block {
	font-size: 13px;
	width: 33.3%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.footer-col__ttl {
	position: relative;
	font-weight: 100;
	color: #fff;
	font-size: 18px;
	margin: 0 0 16px 0;
}
.footer-col__ttl_copy:before {
	position: absolute;
	content: '\f1f9';
	color: #fff;
	font-family: 'FontAwesome';
	right: 100%;
	bottom: 4px;
	font-size: 14px;
}
.footerColSm__ttl_pos {
	margin-left: 88px;
}
.footer-col__link {
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-col_line {
	text-decoration: underline;
	font-size: 13px;
	font-weight: 100;
}
.footer-col_line:hover {
	text-decoration: none;
}
.footer-col__txt {
	font-weight: 100;
	color: #fff;
	margin: 7px 0 4px 88px;
}
.footer-col__txt_b {
	font-weight: 600;
}
.footer-col__link-txt {
	margin-top: 20px;
}
.footer-col__footnote {
	color: #fff;
	text-decoration: underline;
	font-size: 12px;
}
.footer-col__footnote:hover {
	text-decoration: none;
}
.footer-col__footnote_sm {
	font-size: 10px;
	color: #fff;
}
.scrollup {
	background: rgba(226, 55, 96, 0.9);
	position: fixed;
	bottom: 250px;
	right: 50px;
	height: 50px;
	width: 50px;
}
.scrollup:hover {
	cursor: pointer;
}
.fa-angle-double-up {
	color: #fff;
	font-size: 22px!important;
	padding-top: 14px;
	padding-left: 18px;
}